<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mms.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.demo.mms.common.domain.Goods">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gclass_id" jdbcType="VARCHAR" property="gclassId" />
    <result column="gformat_id" jdbcType="VARCHAR" property="gformatId" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="picture_path" jdbcType="VARCHAR" property="picturePath" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="thumb_up" jdbcType="INTEGER" property="thumbUp" />
    <result column="visible" jdbcType="BIT" property="visible" />
    <result column="restriction" jdbcType="BIT" property="restriction" />
    <result column="upload_date" jdbcType="TIMESTAMP" property="uploadDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, gclass_id, gformat_id, price, introduction, picture_path, size, thumb_up,
    visible, restriction, upload_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAllGoods"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from goods
  </select>
  <select id="selectByGclassId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from goods
    where gclass_id = #{gclassId,jdbcType=VARCHAR}
  </select>
  <select id="selectGoodsByNameHas" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from goods
    where name like CONCAT(CONCAT('%', #{name,jdbcType=VARCHAR}), '%')
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from goods
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.demo.mms.common.domain.Goods">
    insert into goods (id, name, gclass_id, 
      gformat_id, price, introduction, 
      picture_path, size, thumb_up, 
      visible, restriction, upload_date)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{gclassId,jdbcType=VARCHAR}, 
      #{gformatId,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{introduction,jdbcType=VARCHAR}, 
      #{picturePath,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, #{thumbUp,jdbcType=INTEGER}, 
      #{visible,jdbcType=BIT}, #{restriction,jdbcType=BIT}, #{uploadDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.mms.common.domain.Goods">
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="gclassId != null">
        gclass_id,
      </if>
      <if test="gformatId != null">
        gformat_id,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
      <if test="picturePath != null">
        picture_path,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="thumbUp != null">
        thumb_up,
      </if>
      <if test="visible != null">
        visible,
      </if>
      <if test="restriction != null">
        restriction,
      </if>
      <if test="uploadDate != null">
        upload_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gclassId != null">
        #{gclassId,jdbcType=VARCHAR},
      </if>
      <if test="gformatId != null">
        #{gformatId,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="picturePath != null">
        #{picturePath,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=INTEGER},
      </if>
      <if test="thumbUp != null">
        #{thumbUp,jdbcType=INTEGER},
      </if>
      <if test="visible != null">
        #{visible,jdbcType=BIT},
      </if>
      <if test="restriction != null">
        #{restriction,jdbcType=BIT},
      </if>
      <if test="uploadDate != null">
        #{uploadDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.mms.common.domain.Goods">
    update goods
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gclassId != null">
        gclass_id = #{gclassId,jdbcType=VARCHAR},
      </if>
      <if test="gformatId != null">
        gformat_id = #{gformatId,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="picturePath != null">
        picture_path = #{picturePath,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="thumbUp != null">
        thumb_up = #{thumbUp,jdbcType=INTEGER},
      </if>
      <if test="visible != null">
        visible #{visible,jdbcType=BIT},
      </if>
      <if test="restriction != null">
        restriction = #{restriction,jdbcType=BIT},
      </if>
      <if test="uploadDate != null">
        upload_date = #{uploadDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.mms.common.domain.Goods">
    update goods
    set name = #{name,jdbcType=VARCHAR},
      gclass_id = #{gclassId,jdbcType=VARCHAR},
      gformat_id = #{gformatId,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      introduction = #{introduction,jdbcType=VARCHAR},
      picture_path = #{picturePath,jdbcType=VARCHAR},
      size = #{size,jdbcType=INTEGER},
      thumb_up = #{thumbUp,jdbcType=INTEGER},
      visible = #{visible,jdbcType=INTEGER},
      restriction = #{restriction,jdbcType=BIT},
      upload_date = #{uploadDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>